.filter-mobile-trigger {
    display: none;

    width: 100%;
    max-width: 360px;
    background-color: $blue;
    color: #fff;
    padding: 16px 20px;
    text-transform: uppercase;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 27px;

    svg {
        stroke: #fff;
        width: 20px;
        height: 12px;
        transform: rotate(-90deg);
    }

    @include _979 {
        display: flex;
    }
}

.filter-mobile {
    $filterMobile: &;
    position: fixed;
    top: 0;
    left: -100%;

    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1100;
    max-height: 100%;
    overflow-y: auto;
    transition: .5s all;
    padding-top: 50px;

    &.is-show {
        display: block;
        left: 0;

        #{$filterMobile}__header,
        #{$filterMobile}__footer {
            left: 0;
        }
    }

    &__header {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        position: fixed;
        width: 100%;
        z-index: 120;
        top: 0;
        left: -100%;
        background-color: #fff;
        transition: .5s all;
    }

    &__return {
        background-color: #165cbe;
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__arrow {
        stroke: #fff;
        width: 18px;
        height: 34px;
        transform: rotate(90deg);
    }

    &__title {
        padding-left: 18px;
        display: flex;
        align-items: center;
        flex-grow: 1;
        border-bottom: 1px solid rgba(215, 222, 228, .5);
    }

    &__body {
        padding-bottom: 80px;
    }

    &__footer {
        position: fixed;
        z-index: 100;
        bottom: 0;
        left: -100%;
        width: 100%;
        transition: .5s all;
    }

    &__apply-btn,
    &__reset-btn {
        padding: 14px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        border: none;
        font-size: 15px;
    }

    &__apply-btn {
        background-color: $orange;
    }
    &__reset-btn {
        background-color: $blue;
    }
}

.filter {
    $filter: &;

    @include _979 {
        display: none;
    }

    &__section {
        border-bottom: 1px solid #d7dee4;

        &.is-opened {
            #{$filter}__section-header {
                padding-bottom: 11px;
            }

            #{$filter}__section-body {
                display: block;
            }

            #{$filter}__arrow {
                transform: rotate(180deg);
            }
        }
    }

    &__section-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        padding: 20px 0;
        cursor: pointer;

        @include _979 {
            padding-left: 26px;
            padding-right: 26px;
        }
    }

    &__section-body {
        margin-bottom: 20px;
        display: none;

        @include _979 {
            margin-top: 12px;
            padding-left: 26px;
            padding-right: 26px;
        }
    }
    &__title {
        font-size: 15px;
        margin: 0;
        font-weight: 600;
    }
    &__reset {
        margin: 0;
        color: #565b61;
        font-size: 13px;
        text-decoration: underline;
        cursor: pointer;
        margin-left: 25px;

        &:hover {
            text-decoration: none;
        }
    }
    &__arrow {
        fill: transparent;
        stroke: #000;
        width: 16px;
        height: 10px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        @include _979 {
            right: 26px;
        }
    }
}


.filter-price {
    .filter__section-header {
        padding-top: 10px;
        @include _979 {
            padding-top: 20px;
        }
    }

    &__flex-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        input {
            width: 40%;
            font-size: 12px;
            outline: none;
            border: 1px solid #d7dee4;
            padding: 7px 10px;
            height: auto;
            border-radius: none;
        }
    }

    &__slider {
        margin-bottom: 20px;
        margin-top: 20px;

        &.noUi-horizontal {
            height: 3px;
            background-color: #D7DEE4;
            border: none;
            box-shadow: none;
        }

        .noUi-connect {
            background-color: #fdcf6d;
        }

        .noUi-handle-lower {
            right: -10px !important;
        }

        .noUi-handle-upper {
            right: 0 !important; // смещение влево, было -17px
        }

        .noUi-handle {
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background:  #ff8a02;
            border: none;
            box-shadow: none;
            outline: none;
            cursor: pointer;

            top: -4px; // выравнивание по центру полосы


            &::after,
            &::before {
                display: none;
                width: auto;
                height: auto;
                background: transparent;
                left: auto;
                top: auto;
            }

            &.noUi-handle-lower::before,
            &.noUi-handle-upper::before {
                display: block;
                font-size: 12px;
                top: -20px;
                color: #565b61;
            }

            &.noUi-handle-lower::before {content: 'от';}
            &.noUi-handle-upper::before {content: 'до';}
        }



        input {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

.filter-cat {
    &__item {
        margin-bottom: 10px;
        color: #565b61;
        font-size: 14px;
        font-weight: 400;
    }
}

.f-colors {
    &__row {
        display: flex;
        flex-wrap: wrap;

        .f-color {
            margin: 0;
        }

        @include _600 {
            .f-color {
                margin: 0;
                width: 45px;
            }

            .f-color__square {
                width: 100%;
                height: 45px;
            }
        }
    }

    &__check-all {
        font-size: 14px;
        margin-bottom: 17px;

        & > * {
            pointer-events: none;
        }
    }

    &__list {
        margin-top: 20px;
        max-height: 250px;
        overflow-y: auto;
    }

    &__item {
        margin-bottom: 10px;
    }
}


.f-color {
    $f_color: &;

    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 400;

    &__input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 1px;
        height: 1px;

        &:checked + #{$f_color}__square::before {
            opacity: 1;
        }
    }

    &__square {
        width: 28px;
        height: 28px;
        margin: 0;
        display: block;
        position: relative;

        &--multi-color {
            background-image: url('../images/multi-color.jpg');
            background-size: 105% 105%;
            background-repeat: no-repeat;
        }

        &::before {
            content: '';
            width: 12px;
            height: 9px;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url('../images/check-white.svg');
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0;
            pointer-events: none;
        }
    }

    &__name {
        margin-left: 9px;
        font-size: 13px;
        text-transform: uppercase;
    }
}