.pagination {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;

    li::before,
    li::after {
        display: none !important;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 0;
        list-style: none;
        margin: 0 35px;
    }

    &__item {
        padding: 0 5px;
        min-width: 30px;
        max-width: 40px;
        height: 30px;
        border-radius: 3px;
        box-shadow: 0 -1px 0 rgba(65, 133, 0, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 1px;
        transition: .3s all;
        cursor: pointer;
        position: relative;

        &:hover,
        &.is-current {
            color: #fff;
            background-color: $orange;
        }
    }

    &__link {
        color: inherit;
        position: relative;
        z-index: 5;
    }
}