.pagination {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 0;
        list-style: none;
        margin: 0 35px;
    }

    &__item {
        width: 45px;
        height: 45px;
        box-shadow: 0 -1px 0 rgba(65, 133, 0, 0);
        border: 1px solid #dcdcdc;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 3px;
        transition: .3s all;
        cursor: pointer;
        position: relative;

        &:hover,
        &.is-current {
            color: #fff;
        }
    }

    &__link {
        color: inherit;
        position: relative;
        z-index: 5;
    }
}