.products {
    background-color: #fff;
    z-index: 100;

    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    @include _350 {
        box-shadow: none;
    }
}

.js-products-tab {
    display: none;

    &.is-show {
        display: flex;
    }
}