.sort {
    display: grid;
    grid-template-columns: 1fr 35% 15%;
    margin-bottom: 20px;

    @include _768 {
        grid-template-columns: 1fr ;
    }

    &__title {
        font-weight: 600;
        font-size: 15px;
        margin: 0;
    }

    &__select {

        & + .select_common {
            margin-left: 10px;
        }

        &--sort {
            & + .select_common {
                width: 100%;
                max-width: 158px;
            }
        }
        &--count {
            & + .select_common {
                width: 100%;
                max-width: 70px;
            }
        }
    }
}

.sort-params {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sort-counts {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include _979 {
        display: none;
    }
}

.view-change {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    user-select: none;

    @include _979 {
        display: none;
    }

    &__item {
        &.is-active {
            svg {fill: $orange;}
        }
    }

    &__icon {
        width: 27px;
        height: 27px;
        fill: #bdc5cd;

        margin-left: 14px;
        cursor: pointer;
    }
}
