-
    var catLinks = [
        {
            title: 'Забор',
            sublists: [
                {
                    title: 'Ограждения',
                    links: [
                        'Модульные ограждения',
                        'Панельные ограждения',
                        'Профлист',
                        'Штакетник',
                    ]
                },
                {
                    title: 'Доборные элементы',
                    links: [
                        'Элементы модульных ограждений',
                        'Элементы панельных оградений',
                        'Трубы',
                        'Крепеж',
                    ]
                },
                {
                    title: 'Комплектующие',
                    links: [
                        'Калитки',
                        'Ворота',
                        'Откатные ворота',
                        'Фурнитура',
                    ]
                }
            ]
        },
        {
            title: 'Кровля',
            sublists: [
                {
                    title: 'Ограждения',
                    links: [
                        'Модульные ограждения',
                        'Панельные ограждения',
                        'Профлист',
                        'Штакетник',
                    ]
                },
                {
                    title: 'Доборные элементы',
                    links: [
                        'Элементы модульных ограждений',
                        'Элементы панельных оградений',
                        'Трубы',
                        'Крепеж',
                    ]
                },
                {
                    title: 'Комплектующие',
                    links: [
                        'Калитки',
                        'Ворота',
                        'Откатные ворота',
                        'Фурнитура',
                    ]
                }
            ]
        },
        {
            title: 'Фасад',
            sublists: [
                {
                    title: 'Ограждения',
                    links: [
                        'Модульные ограждения',
                        'Панельные ограждения',
                        'Профлист',
                        'Штакетник',
                    ]
                },
                {
                    title: 'Доборные элементы',
                    links: [
                        'Элементы модульных ограждений',
                        'Элементы панельных оградений',
                        'Трубы',
                        'Крепеж',
                    ]
                },
                {
                    title: 'Комплектующие',
                    links: [
                        'Калитки',
                        'Ворота',
                        'Откатные ворота',
                        'Фурнитура',
                    ]
                }
            ]
        }
    ];

